.classA{
    background-color: rgb(225, 230, 233);
    text-align: center;
    background-image:url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149009911.jpg?w=996&t=st=1670347883~exp=1670348483~hmac=a604a57643ba87ce8c2fc2d2fe75d8b857985b927d570e93f57be9a9df6ac73a);
}

p{
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}